<p style="color: green"><%= notice %></p>

<% content_for :title, "Speed records" %>

<h1>Speed records</h1>

<div id="speed_records">
  <% @speed_records.each do |speed_record| %>
    <%= render speed_record %>
    <p>
      <%= link_to "Show this speed record", speed_record %>
    </p>
  <% end %>
</div>

<%= link_to "New speed record", new_speed_record_path %>
